body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  min-height: 100vh; /* Ensure the body is at least the full viewport height */
}

.app-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../public/neon-4k-8k-hd-wallpaper-preview.jpg');
  background-size: cover;
  background-position: center;
  z-index: -1;
}

/* Estilos adicionales para el navbar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-nav .nav-link {
  color: white !important;
}

.navbar-brand {
  color: white !important;
  font-weight: bold;
}

main {
  flex: 1; /* This will make the main content area expand to fill available space */
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 70px; /* Adjusted for the navbar height */
}

.calendar-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo {
  position: absolute;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 78px;
  font-weight: 900;
  top: 140px;
  left: 30px;
}

.t-tres {
  position: absolute;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 48px;
  font-weight: 100;
  top: 220px;
  left: 32px;
}

.nav-link {
  position: relative;
  transition: color 0.3s ease;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

.nav-link:hover {
  color: #f8f9fa !important;
}

.margin {
  margin-left: 30%;
}
